@{
    ViewBag.Title = "Home Page";
}


<div style="text-align: center; padding-top:5%">

    <img src="~/img/directory.png" style="text-align: center; width:20%; height:20%"/>
    <h1>Welcome to PhoneBook App</h1>
</div>